@import '../styles/variables';

/* Base Layout */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Main Content Area */
.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 0;
  transition: margin-left 0.3s ease;
  background-color: $light-bg;
  overflow-y: auto;
}
.main-content.expanded {
  margin-left: 70px;
}

.content-wrapper {
  padding: 0;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  
  .main-content {
    margin-left: 0 !important;
    margin-top: 60px; /* Space for the topbar */
    width: 100%;
    height: calc(100vh - 60px);
  }
}
