@import 'styles/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Sticky Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

/* SCSS or CSS */
.custom-scroll {
  overflow-x: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(20, 247, 228, 0.185) transparent;
  
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
